* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    border-bottom: 3px solid darkgreen;
}

.logoatas {
    margin: 20px 100px 10px 80px;
    width: 10%;
}

header a {
    font-size: larger;
    text-decoration: none;
    color: black;
    float: right;
    margin: 20px 150px 10px 0px;
    
}

header a:hover {
    color: darkgreen;
}

nav ul {
    list-style-type: none;
    background-color: #dedede;
    font-weight: bolder;
    text-align: center;
}

nav ul li {
    justify-content: center;
    padding: 15px 10px 25px 20px;
    border: 1px solid black;
    
}
 nav ul li a {
    text-decoration: none;
    color: black;
    float: left; 
}

 nav ul li a:hover {
    color: white;
 }

 nav ul li:hover {
    background-color: black;
 }

 nav {
    border-bottom: 2px solid darkgreen;
    margin-bottom: 30px;
 }

main h1 {
    margin: 0px 0px 0px 50px;
}

main p {
    margin: 10px 0px 10px 50px;
}